<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="аюпова_автосервисEntities" connectionString="metadata=res://*/AupovaModel.csdl|res://*/AupovaModel.ssdl|res://*/AupovaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-10\SQLEXPRESS;initial catalog=аюпова_автосервис;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>